<!DOCTYPE html>
<html lang="en">
<head>
    <title>CollectorZone</title>
    <link rel="stylesheet" href="/styles/global.css">
    <script src="/scripts/websocket.js" type="module"></script>
</head>
<body>
<dialog id="ws-modal">
    <p id="ws-message"></p>
    <button id="ws-button">Refresh</button>
</dialog>

<h1>Welcome to CollectorZone {{name}}!</h1>
<h2>Add New Item</h2>
<form action="/items-web" method="POST" class="glass-card">
    <div>
        <label for="itemName">Item Name:</label>
        <input type="text" id="itemName" name="itemName" placeholder="Ej: Guitarra firmada" required>
    </div>
    <div>
        <label for="itemDescription">Description:</label>
        <input type="text" id="itemDescription" name="itemDescription" placeholder="Descripción detallada..." required>
    </div>
    <div>
        <label for="itemPrice">Starting Price:</label>
        <input type="number" id="itemPrice" name="itemPrice" step="0.01" placeholder="100.00" required>
    </div>

    <div>
        <button type="submit">Add Item</button>
    </div>
</form>

<hr>

{{#error}}
    <div class="error-box">
        <strong>Error:</strong> {{error}}
    </div>
{{/error}}

{{#success}}
    <div class="success-box">
        <strong>Success:</strong> {{success}}
    </div>
{{/success}}

<h2>Add Offer to Item</h2>
<form action="/offers-web" method="POST" class="glass-card">
    <div>
        <label for="item-id">Item:</label>
        <select id="item-id" name="item-id" required>
            <option></option>
            {{# items}}
                <option value="{{id}}">{{name}}</option>
            {{/ items}}
        </select>
    </div>
    <div>
        <label for="name">name:</label>
        <input type="text" id="name" name="name" placeholder="Juan Lucio" required>
    </div>
    <div>
        <label for="email">email:</label>
        <input type="email" id="email" name="email" placeholder="juanLucio@gmail.com" required>
    </div>
    <div>
        <label for="itemPrice">Price:</label>
        <input type="number" id="itemPrice" name="itemPrice" step="0.01" placeholder="75.50" required>
    </div>

    <div class="filter-buttons">
        <button type="submit">SUBMIT</button>
    </div>
</form>

<hr>

<h2>Filter Collection</h2>
<form action="/items-web" method="GET" class="filter-form">
    <div class="filter-group">
        <label for="search">Keyword</label>
        <input type="text" id="search" name="search" placeholder="Gorra, Rosalía..." value="{{search}}">
    </div>
    <div class="filter-group">
        <label for="minPrice">Min Price</label>
        <input type="number" id="minPrice" name="minPrice" placeholder="50.00" step="0.01" value="{{minPrice}}">
    </div>
    <div class="filter-group">
        <label for="maxPrice">Max Price</label>
        <input type="number" id="maxPrice" name="maxPrice" placeholder="800.00" step="0.01" value="{{maxPrice}}">
    </div>
    <button type="submit">Filter</button>
    <a href="/items-web" class="btn-clear">Clear Filters</a>
</form>

<hr>

<h2>Collection</h2>

<div class="collection-grid">
    {{#items}}
        <div class="item-card">
            <h3>{{name}} </h3>
            <p>{{description}}</p>
            <p><strong>Price: ${{price}}</strong></p>
            <p>Current Offer: ${{lastOffer}}</p>
        </div>
    {{/items}}
</div>

{{^items}}
    <div class="empty-state">
        <p>No items in the collection yet. Add one above!</p>
    </div>
{{/items}}
</body>
</html>